div{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
}

div>img{
    margin: 0;
    padding: 0;
    width: 450px;
}

p{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width: 600px){
    div{
        text-align: center;
        font-size: 0.5rem;
    }

    div>img{
      width: 350px; 
    }
}